:root {

	--one: white;
	--two: black;
	--three: #ff7a4b;
	--four: #0c3e72;
	--five: #2493e0;
	--six: #828282;
	--seven: #a7a9b8;
	--eight: rgba(255, 255, 255, 0.6);
}


.text-color-one {
	color: var(--one);
}
.text-color-two {
	color: var(--two);
}
.text-color-three {
	color: var(--three);
}
.text-color-four {
	color: var(--four);
}
.text-color-five {
	color: var(--five);
}
.text-color-six {
	color: var(--six);
}
.text-color-seven {
	color: var(--seven);
}
.text-color-eight {
	color: var(--eight);
}


.bg-color-one {
	background: var(--one);
}
.bg-color-two {
	background: var(--two);
}
.bg-color-three {
	background: var(--three);
}
.bg-color-four {
	background: var(--four);
}
.bg-color-five {
	background: var(--five);
}
.bg-color-six {
	background: var(--six);
}
.bg-color-seven {
	background: var(--seven);
}
.bg-color-eight {
	background: var(--eight);
}


body {
	font-size: 15px;

}

/*Create a nice Hamburger Menu*/

.navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: var(--one);
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
 
.navbar-toggler:hover span,
.navbar-toggler:focus span {
    background: var(--one);
}
 
/* rotate first span */
.navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}
 
/* hide second span */
.navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}
 
/* rotate third span */
.navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}
 
.navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

#home {
	background: url(./../img/2.jpg) center right no-repeat;
	background-size: cover;
}

@media (max-width: 992px) {

	.navbar-dark .navbar-nav .nav-link {
		color: var(--two);
	}

	.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
		color: var(--two);
	}

	#navbarSupportedContent {
		background-color: var(--one);
	}

	.h1 {
		font-size: 3rem;
	}

}

@media (min-width: 992px) {
	
	.h1 {
	font-size: 5rem;
}
